.titulo_centro{
  display: flex;
  justify-content: center;
}
.titulo_centro h1 {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  color:var(--azul-claro-escuro);
  animation: typing 2.2s steps(32) forwards;
  font-size: clamp(15px, 4vw, 32px);
  margin-top:5vh;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 35ch;
  }
}