* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* AZUL */
  --azul-principal: #131c46;
  --azul-secundario: #3c4c8f;
  --azul-marinho: #063254;
  --azul-escuro: #082338;
  --azul-claro-escuro: #1d405c;

  /* AMARELO */
  --amarelo-dourado: #E5B84B;
  --amarelo-ouro: #F2C94C;
  --amarelo-amber: #D9A441;
  --amarelo-champagne: #F4E3A1;
}

html {
  width: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.app {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  background: radial-gradient(
    circle at top,
    color-mix(in srgb, var(--azul-marinho) 92%, white) 0%,
    var(--azul-marinho) 45%,
    color-mix(in srgb, var(--azul-marinho) 80%, black) 100%
  );
}

main {
  flex: 1;
  width: 100%;
}